<div class="bg-black pt-20">
    <div class="grid lg:grid-cols-3  sm:grid-cols-1">

        <div class="text-center p-5">
            <h1 class="text-white sm:text-xl lg:text-2xl">OUR SPONSORS :</h1>
        </div>
        <div>
            <img src="../../assets/images/spp-logo-copy-150x150.jpg" class="rounded-xl" alt="">
        </div>
        <div>
            <img src="../../assets/images/sunjay-homes-logo-150x150.jpg" class="rounded-xl"alt="">
        </div>
    </div>
    <div class="grid lg:grid-cols-2  sm:grid-cols-1 pt-5">

        
        <div class="mx-auto">
            <img src="../../assets/images/logo.png" alt="">
        </div>
        <div class="text-center p-5">
            <h1 class="text-yellow-400 sm:text-xl lg:text-2xl">COPYRIGHT © TAMIL NADU JEET KUNE DO</h1>
        </div>
    </div>
</div>
