<app-header></app-header>


<div class=" lg:bg-center bg-no-repeat  bg-center  bg-sm " style="background-image: url('../../assets/images/logo-white.png'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center  ">
        <div class="mx-4 text-center text-white  ">
            <h1 class="font-bold text-6xl mb-4 pb-5 uppercase">national body</h1>
            
           
        </div>
    </div>
</div>


<div class="bg-black opacity-95 text-center">
    <div class="bg-black opacity-95 p-10"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-5xl p-5 ">MEET THE HEADS</h1>
    <div class="bg-black opacity-95 p-5"></div>
    <div class="grid lg:grid-cols-3 sm:grid-cols-1">
        <div>
            <img src="../../assets/images/IMG_1227-922x1024.jpg" alt="" style="height: 500px;" class="mx-auto rounded-md">
            <h1 class="text-yellow-400 font-bold  pt-3 sm:text-xl lg:text-2xl">S.L.GIHARA​</h1>
            <h1 class="text-white sm:text-xl lg:text-2xl">PRESIDENT, ASSOCIATION OF ALL INDIA JEET KUNE-DO FOUNDATION​</h1>

        </div>
        <div>
            <img src="../../assets/images/salmani-jkd-up.jpg" alt="" style="height: 500px;" class="mx-auto rounded-md">
            <h1 class="text-yellow-400 font-bold  pt-3 sm:text-xl lg:text-2xl">S.L.GIHARA​</h1>
            <h1 class="text-white sm:text-xl lg:text-2xl">PRESIDENT, ASSOCIATION OF ALL INDIA JEET KUNE-DO FOUNDATION​</h1>

        </div>
        <div>
            <img src="../../assets/images/54cb37db-ea9c-4dda-88c2-16d4db1f6e62-2.jpg" alt="" style="height: 500px;" class="mx-auto rounded-md">
            <h1 class="text-yellow-400 font-bold  pt-3 sm:text-xl lg:text-2xl">S.L.GIHARA​</h1>
            <h1 class="text-white sm:text-xl lg:text-2xl">PRESIDENT, ASSOCIATION OF ALL INDIA JEET KUNE-DO FOUNDATION​</h1>

        </div>
    </div>

    <div class="bg-black opacity-95 p-10"></div>
    <div class="mx-16 pt-10">
        <div class="grid lg:grid-cols-4 sm:grid-cols-1">
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b1.jpeg" alt="">
            </div>
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b2.jpeg" alt="">
            </div>
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b3.jpeg" alt="">
            </div>
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b4.jpeg" alt="">
            </div>
        </div>

    </div>
</div>
<div class="bg-black opacity-95 p-10"></div>
<app-footer></app-footer>