<app-header></app-header>


<div class=" lg:bg-center bg-no-repeat  bg-center  bg-sm " style="background-image: url('../../assets/images/logo-white.png'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center  ">
        <div class="mx-4 text-center text-white  ">
            <h1 class="font-bold text-6xl mb-4 pb-5 uppercase">Who we are ?</h1>
            
           
        </div>
    </div>
</div>


<div class="bg-black opacity-95 p-5"></div>
<div class="bg-black opacity-95 "> 
    <div class="text-center p-5 lg:mx-10">
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-4xl">ABOUT US</h1>
        <h1 class="text-white sm:text-xl lg:text-2xl  lg:pt-3">Our Tamil Nadu Jeet Kune-Do Association has been working since 2012 in Tamil Nadu. From 2012 to till 2020 our
            organization organized many Jeet Kune-Do events. Our foundation is working in more over 15 districts in Tamil Nadu
            and many clubs in those Districts. Master M. Yuvaraj General secretary of Tamil Nadu jeet kune do association he
            Compeleted his (diploma in jeet kune do and degree in jeet kune do official)</h1>
        <h1 class="text-white sm:text-xl lg:text-2xl lg:pt-3">Our foundation has Organized State and District championship from the year 2012-2019 and also conducted various
            student camps, the first student camp was organized in the year 2013, So far we have organized two student camps
            from the year 2012-2019.</h1>
        <h1 class="text-white sm:text-xl lg:text-2xl lg:pt-3"> Our students also participated in various Camps/ Workshops/Seminars and tournaments from the year 2012-2019. The
            last state was organized in 2019 in Chennai.
            
            In the year 2015 our students participated in International Jeet Kune-Do tournament, and in the year 2016 another
            International Beach combat Martial Arts was organized by international JKD association.

        </h1> 
        <h1 class="text-white sm:text-xl lg:text-2xl lg:pt-3">In the year 2012 we started to participate in national level tournaments organised by jeet kune do association till now
            we participated in more than 8 national level Tournaments and won many medals in that tournaments.
            
            Time to time our Tamil N0adu Jeet kune-Do association organized Free training camps, Summer camps, and self defense camps
            for Womens in government schools and NGO.</h1>   

        <h1 class="text-white sm:text-xl lg:text-3xl font-bold lg:pt-3">M. Yuvaraj

            ( General Secretary)</h1>    
    </div>

    <div class="bg-black opacity-95 p-5"></div>
    <div class="text-center lg:mx-20 justify-items-center">
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-4xl">ABOUT (ASSOCIATION OF ALL INDIA JEET KUNE-DO FOUNDATION ) AAIJF</h1>
        <ul class="text-white sm:text-xl lg:text-2xl  lg:pt-3">
            <li  class="pt-3">1. A Yearly workshop or Camp Should be Conducted by the Member
                districts.</li>
            <li class="pt-3">2. Every District should provide at least 15 students or more on
                mandatory basis.</li>
            <li class="pt-3">3. Yearly State Tournaments Should be Conducted in Every District
                in the Round-Robin Method.</li>    
                    <li>4. The selection Process for the Nationals Should be Conducted
                        Each Year and those students got selected will be participate in
                        National level Tournaments.</li>    
            <li class="pt-3">5. Students who performs well in the state and national tournaments
                will be preferred for the “School of Games” conducted by central
                government of India.</li>  
            <li class="pt-3">6. District membership should Renewed on March 31 of every year
                by paying ₹1000. If not, that particular district membership will be
                cancelled.</li>    

             <li class="pt-3">7. Workshops ,Self defence camps and Referee camps and referee
                examination will be conducted every year.</li>   
             <li class="pt-3">8. An member districts are asked to participate in the activities that
                are conducted by the state committee.</li>  
             <li class="pt-3">9. Those who were certified in the referee examination will only be
                allowed who acted as referee in the state tournaments for 2years
                will be selected as national referees on quality basis.</li>   
             <li class="pt-3">10. Problems in the committee or among the committee members
                should be outspoken in the state general body meeting Only. On
                any causes, no one approaches the central body.</li>            
        </ul>
       
        <div class="bg-black opacity-95 p-5"></div>
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-4xl">RULES AND REGULATIONS</h1>
        <p class="text-white sm:text-xl lg:text-2xl  lg:pt-3">Our Association of All India Jeet Kune-Do Foundation (AAIJF) has been working since 1980 in India and got
            registered in since 1990 through Society Registration Act 1860. From 1980 to till 1990 our organization organized
            many Jeet Kune-Do events. Our foundation is working in more than 25 States of India.
            In the year 2001, the Nehru Yuva Kendra Sangthan organized Vande Mataram Sports Meet. In this Meet our Jeet
            Kune-Do art was included as game and we organized Vande Mataram Jeet Kune-Do Championship. This
            championship was organized at University of Delhi(India).
            In the year 2003, the Indian Olympic Association and Ministry of Youth Affairs and Sports were organized
            the Swabhiman Sports Festival-2003. In this festival our foundation was also a part of the mentioned festival
            and we again organized Jeet Kune-Do Championship under their banner .In this festival our president Master S.
            L. Gihara was awarded by Vice-President of India
            We submitted our file in the Ministry of Youth Affairs and Sports regarding recognition. We got affiliation
            
            from World Jeet Kune-Do Federation (USA) in 2003 and got recognition from Jeet Kune-Do Martial Arts-
            International in 2006
            
            </p>
            <div class="bg-black opacity-95 p-5"></div>
            <p class="text-white sm:text-xl lg:text-2xl  lg:pt-3">Our foundation participated in various JKD training Camps / Seminars / Workshops and Tournaments like 1st
                Bangkok Cup Jeet Kune-Do (Martial Arts) Tournament-2006 held at A Beg University of Thailand, Bangkok
                (Thailand). Our students won various medals and prizes in this championship. The World Martial Arts
                Organization awarded to our Master S. L. Gihara by Silver Medal Award for his 25years outstanding
                performance and supported performing in Jeet Kune-Do in Asia.
                
                Recognised by ISO(9001 : 2015) and Niti Aayog (Regd. under NGO Darpan, Unique ID VO/ NGO
                DL/2017/0154559) and (Jeet kundeo Rec.) School Games Federation of India (SGFI).
                Time to time our foundation organized various Inter School, Inter Club, Inter College, State, National and
                International level champhionship. Many time we received so many invitation letter from abroad.
                Time to time our Association All India Jeet kune-Do Foundation oragnized Free training camps ,Summer
                camps, Cultural Programmes for the Slum and J.J. Area’s children.
                Our Foundation is also publish its Dynamic Jeet kune-Do magazine every year.
                Recently our foundation is focus on the recognition through Ministry of Youth Affairs and Sports(Govt. of INDIA).
                Our aim is that to promote Jeet kune-Do not in INDIA but all over Asia. We will train slum children and develop
                Jeet kune-Do in all over the World
                We think that if Government of INDIA recognize our foundation. We will do work much better for our country
                
                S.L.Gihara
                JKD Master Of India</p>
    </div>
</div>
<div class="bg-black opacity-95 p-20"></div>

<app-footer></app-footer>