<app-header class="overflow-hidden"></app-header>


<div class=" lg:bg-center bg-no-repeat  bg-center  bg-sm overflow-hidden" style="background-image: url('../../assets/images/logo-white.png'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center  ">
        <div class="mx-4 text-center text-white  ">
            <h1 class="font-bold text-6xl mb-4 pb-5 uppercase">AFFILIATED DISTRICT</h1>
            
           
        </div>
    </div>
</div>



<div class="bg-black opacity-95 text-center">
<table class="text-left w-full lg:mx-10">
    <thead class="bg-black flex text-white w-full">
        <tr class="flex w-full mb-4 text-yellow-500 font-bold">
            <th class="p-4 w-1/3">S.NO	</th>
            <th class="p-4 w-1/3">DISTRICT NAMES</th>
            <th class="p-4 w-1/3">	DISTRICT SECRETARY</th>
            
        </tr>
    </thead>
<!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
    <tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">1</td>
            <td class="p-4 w-1/3">ARIYALUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">2</td>
            <td class="p-4 w-1/3">CHENGALPATTU</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">3</td>
            <td class="p-4 w-1/3">CHENNAI</td>
            <td class="p-4 w-1/3">S.DINESH</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">4</td>
            <td class="p-4 w-1/3">COIMBATURE</td>
            <td class="p-4 w-1/3">BALAMURALIKRISHAN</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">5</td>
            <td class="p-4 w-1/3">CUDDALORE</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">6</td>
            <td class="p-4 w-1/3">DHARMAPURI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">7</td>
            <td class="p-4 w-1/3">DINDIGAL</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">8</td>
            <td class="p-4 w-1/3">ERODE</td>
            <td class="p-4 w-1/3">YUSUFF</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">9</td>
            <td class="p-4 w-1/3">KALLAKURICHI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">10</td>
            <td class="p-4 w-1/3">KANCHIPURAM</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">11</td>
            <td class="p-4 w-1/3">KANYAKUMARI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">12</td>
            <td class="p-4 w-1/3">KARUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">13</td>
            <td class="p-4 w-1/3">KRISHNAGIRI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">14</td>
            <td class="p-4 w-1/3">MADURAI</td>
            <td class="p-4 w-1/3">MANIKANDAN</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">15</td>
            <td class="p-4 w-1/3">NAGAPATTINAM</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">16</td>
            <td class="p-4 w-1/3">NAMAKKAL</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">17</td>
            <td class="p-4 w-1/3">NILGIRIS</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">18</td>
            <td class="p-4 w-1/3">PERAMBALUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">19</td>
            <td class="p-4 w-1/3">PUDUKKOTTAI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">20</td>
            <td class="p-4 w-1/3">RAMANATHAPURAM</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">21</td>
            <td class="p-4 w-1/3">RANIPET</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>

        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">22</td>
            <td class="p-4 w-1/3">SALEM</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">23</td>
            <td class="p-4 w-1/3">SIVAGANGA</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">24</td>
            <td class="p-4 w-1/3">TENKASI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">25</td>
            <td class="p-4 w-1/3">THANJAVUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>

        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">26</td>
            <td class="p-4 w-1/3">THENI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">27</td>
            <td class="p-4 w-1/3">THOOTHUKUDI</td>
            <td class="p-4 w-1/3">SENTHIL</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">28</td>
            <td class="p-4 w-1/3">TIRUCHIRAPPALL</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">29</td>
            <td class="p-4 w-1/3">TIRUNELVELI</td>
            <td class="p-4 w-1/3">MOHAMMAD</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">30</td>
            <td class="p-4 w-1/3">TIRUPATHUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">31</td>
            <td class="p-4 w-1/3">TIRUPPUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">32</td>
            <td class="p-4 w-1/3">TIRUVALLUR</td>
            <td class="p-4 w-1/3">HARIHARAN
            </td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">33</td>
            <td class="p-4 w-1/3">TIRUVANNAMALAI</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">34</td>
            <td class="p-4 w-1/3">TIRUVARUR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">35</td>
            <td class="p-4 w-1/3">VELLORE</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">36</td>
            <td class="p-4 w-1/3">VILUPPURAM</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
        <tr class="flex w-full mb-4 text-white">
            <td class="p-4 w-1/3">37</td>
            <td class="p-4 w-1/3">VIRUDHUNAGAR</td>
            <td class="p-4 w-1/3">-</td>
            
        </tr>
    </tbody>
    </table>    
    </div>        
    <div class="bg-black opacity-95 p-10"></div>

    <app-footer></app-footer>