<app-header></app-header>


<div class=" lg:bg-center bg-no-repeat  bg-center  bg-sm " style="background-image: url('../../assets/images/logo-white.png'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center  ">
        <div class="mx-4 text-center text-white  ">
            <h1 class="font-bold text-6xl mb-4 pb-5 uppercase">state body official</h1>
            
           
        </div>
    </div>
</div>

<div class="bg-black opacity-95 p-7"></div>
<div class="bg-black opacity-95 text-center px-10 overflow-hidden">

    <div class="grid grid-cols-1">
        <div><h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">PRESIDENT</h1>
           <div class=""><img src="../../assets/images/prabu-tnjkd-president-2-249x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR. S. PRABU (CEO OF SPP ENTERPRISES)</h1>

        </div>
        
        

    </div>
    <div class="bg-black opacity-95 p-5"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">VICE PRESIDENT</h1>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/jeeviaraithanam-vp-tnjkd-300x296.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR. R. JEEVA RATHINAM (SUNJAY HOMES)</h1>

        </div>

        <div>
            <div class=""><img src="../../assets/images/ekkambaram-vice-president-tnjkd-248x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR. M. EKAMBARAM (CEO OF P.A ENTERPRISES)
            </h1>
 
         </div>
        
        

    </div>
    <div class="bg-black opacity-95 p-5"></div>
    <div class="grid grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/grand-master-m.uma-shankar-255x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">SIFU M. UMASHANKAR (Grand master)</h1>

        </div>

    
        
        

    </div>
    <div class="bg-black opacity-95 p-7"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">SECRETARY</h1>
    <div class="grid grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/master-yuvaraj-238x300.jpeg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR. M. YUVARAJ (FOUNDER OF VONLEE MARTIAL ARTS)</h1>

        </div>

    
        
        

    </div>

    <div class="bg-black opacity-95 p-5"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">JOIN SECRETARY</h1>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/Arun-s-j.sec_-200x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR.S. ARUN</h1>

        </div>

        <div>
            <div class=""><img src="../../assets/images/unnamed-1.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR. S. DINESH
            </h1>
 
         </div>
        
        

    </div>
    <div class="bg-black opacity-95 p-7"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">PROPAGANDA SECRETARY</h1>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/yusuff-297x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR. A. YUSUFF</h1>

        </div>

        <div>
            <div class=""><img src="../../assets/images/unnamed-df-300x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR.R. MANIKANDAN
            </h1>
 
         </div>
        
        

    </div>

    <div class="bg-black opacity-95 p-7"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">TECHNICAL DIRECTOR</h1>
    <div class="grid lg:grid-cols-3 sm:grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/unnamed-6-225x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">Mr. M. ANAND KUMAR</h1>

        </div>

        <div>
            <div class=""><img src="../../assets/images/unnamed-3.jpg" class="mx-auto rounded-xl p-6" alt="" style="
                height: 347px;
            "></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR. M. Balamuralikrishnan
            </h1>
 
         </div>

         <div>
            <div class=""><img src="../../assets/images/devannand-techinical-director-tnjkd-226x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR. DEVANNAND
            </h1>
 
         </div>
        
        

    </div>


    <div class="bg-black opacity-95 p-7"></div>
    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">COMMITTEE ADVISOR</h1>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/unnamed-2.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR. V. SENTHIL</h1>

        </div>

        <div>
            <div class=""><img src="../../assets/images/unnamed-df-300x300.jpg" class="mx-auto rounded-xl p-6" alt="" style="
                height: 308px;
            "></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR.N. GOWRI SHANKAR
            </h1>
 
         </div>
        
        

    </div>

    <div class="bg-black opacity-95 p-5"></div>
    <div class="grid grid-cols-1">
        <div><h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">TRESURER</h1>
           <div class=""><img src="../../assets/images/v.tinoj-tresuer-232x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR.V. TINOJ</h1>

        </div>
        
        

    </div>
    <div class="bg-black opacity-95 p-5"></div>

    <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl ">COMMITTEE MEMBERS</h1>
    <div class="grid lg:grid-cols-2 sm:grid-cols-1">
        <div>
           <div class=""><img src="../../assets/images/unnamed-4-236x300.jpg" class="mx-auto rounded-xl p-6" alt=""></div> 
            <h1 class="text-white sm:text-xl lg:text-2xl">MR. P. MOHAMED ABDUL RAHMAN</h1>

        </div>

        <div>
            <div class=""><img src="../../assets/images/unnamed-5.jpg" class="mx-auto rounded-xl p-6" alt="" style="
                height: 308px;
            "></div> 
             <h1 class="text-white sm:text-xl lg:text-2xl">MR. K. L. HARIHARAN
            </h1>
 
         </div>
        
        

    </div>

</div>
<div class="bg-black opacity-95 p-10"></div>
<app-footer></app-footer>