<app-header></app-header>


<div class=" lg:bg-center bg-no-repeat  bg-center  bg-sm " style="background-image: url('../../assets/images/logo-white.png'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center invisible ">
        <div class="mx-4 text-center text-white  ">
            <h1 class="font-bold text-6xl mb-4 pb-5">Von Lee</h1>
            
            <div class="mt-5">
                <a href="/contact" class="bg-yellow-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
                    Contact US
                </a>
                
            </div>
        </div>
    </div>
</div>
 
<div class="bg-black opacity-95 "> 
    <div class="text-center p-5">
        <h1 class="text-white sm:text-xl lg:text-2xl">“Knowing is not enough we must apply. willing is not enough we must do”</h1>
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl">– Bruce Lee</h1>
    </div>
    <div class="bg-black opacity-95 p-8"></div>
    <div class="mx-16 pt-10">
        <div class="grid lg:grid-cols-4 sm:grid-cols-1">
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b1.jpeg" alt="">
            </div>
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b2.jpeg" alt="">
            </div>
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b3.jpeg" alt="">
            </div>
            <div class="mx-auto pb-3 rounded-lg">
                <img src="../../assets/images/b4.jpeg" alt="">
            </div>
        </div>

    </div>


    <div class="bg-black opacity-95 p-8"></div>
    <div class="text-center lg:mx-16 sm:mx-5 overflow-hidden">
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl p-4">ABOUT US</h1>
        <h1 class="text-white sm:text-xl lg:text-2xl">Tamil Nadu Jeet Kune- Do Association (TNJKD)
            Our Tamil Nadu Jeet Kune-Do Association has been working since 2012 in Tamil Nadu. From 2012 to till 2020 our
            organization organized many Jeet Kune-Do events. Our foundation is working in more over 15 districts in Tamil Nadu and
            many clubs in those Districts. Master M. Yuvaraj General secretary of Tamil Nadu jeet kune do association he Compeleted
            his (diploma in jeet kune do and degree in jeet kune do official)
            Our foundation has Organized State and District championship from the year 2012-2019 and also conducted various
            student camps, the first student camp was organized in the year 2013, So far we have organized two student camps from
            the year 2012-2019.
            M. Yuvaraj
            ( General Secretary) </h1>

            <div class="bg-black opacity-95 p-2"></div>
        <div class="mt-5">
                <a href="/about" class="bg-gray-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
                    Know More
                </a>
                
            </div>

    </div>

    <div class="bg-black opacity-95 p-5"></div>
    <div class="text-center p-10">
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl p-4">DISTRICT APPLICATION 👇</h1>
        <div class="py-5">
            <a href="/about" class="bg-gray-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
                Apply Now
            </a>
            
        </div>
    </div>
    <div class="bg-black opacity-95 p-5"></div>
    <div class="text-center p-10">
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl p-4">CLUB REGISTRARTION 👇</h1>
        <div class="py-5">
            <a href="/about" class="bg-gray-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
                Register Now
            </a>
            
        </div>
    </div>


    <div class="bg-black opacity-95 p-5"></div>
    <div class="text-center">
        <h1 class="text-yellow-500 font-extrabold sm:text-2xl pt-3 lg:text-3xl p-4 uppercase">some of our images</h1>


        <div class="grid lg:grid-cols-5 sm:grid-cols-1 gap-4 mx-7">
        <div class="mx-auto">
            <img src="../../assets/images/pics/IMG_1005-scaled-olz42sr6pz621cx3tuzcw62u0ceunu35j86564ppnc.jpg" class="rounded-lg h-56"  style="
    height: 300px;
" alt="">
        </div>
        <div class="mx-auto">
            <img src="../../assets/images/pics/IMG_1168-scaled-olz438qfy5rxiq9w8jw0kk1o3w83aoul9f9ebu20pk.jpg" class="rounded-lg" style="
    height: 300px;
" alt="">
        </div>
        <div class="mx-auto">
            <img src="../../assets/images/pics/WhatsApp-Image-2019-10-20-at-7.52.43-PM-olxqku9ycvsvy5b97ll1xu887fge8vu77cs4dqu9lk.jpeg" style="
    height: 300px;
" class="rounded-lg" alt="">
        </div>
        <div class="mx-auto">
            <img src="../../assets/images/pics/WhatsApp-Image-2019-10-20-at-7.52.45-PM-1-olxqky1b47y18l5sln7k7ta2kyxv3o94jve2auoowo (1).jpeg" style="
    height: 300px;
" class="rounded-lg" alt="">
        </div>
        <div class="mx-auto">
            <img src="../../assets/images/pics/ffd.jpeg" style="
    height: 300px;
" class="rounded-lg" alt="">
        </div>

        </div>


    </div>
</div>
<div class="bg-black opacity-95 p-10"></div>
<app-footer></app-footer>